<div class="service">
	<div>
		<h2>営業品目</h2>
		<p>PRODUCTS</p>
		<hr>
		<table class="">
			<tbody>
			<% @business_items.each do |list, text| %>
				<tr class="about_tr">
					<td class="about_list"><%= list.html_safe %></td>
					<td class="about_text"><%= text.html_safe %></td>
				</tr>
			<% end %>
			</tbody>
		</table>
	</div>
</div>
