<div class="service">
	<div>
		<h2>営業品目</h2>
		<p>PRODUCTS</p>
		<hr>
		<%= image_tag 'binire_house.png', class: "service_img"%>
		<%= render partial: "service_table" %>
		<%= render partial: "service_table_sp" %>
	</div>
</div>
