<div class="footer">
	<div class=footer_left>
		<p class="footer_company_name"><a href="/">株式会社安西商会</a></p>
		<div class="footer_link_list">
			<p><a href="/about">ー 会社案内</a></p>
			<div>
				<p><a href="/about#president_message">社長メッセージ</a></p>
				<p><a href="/about#profile">会社概要</a></p>
				<p><a href="/about#history">沿革</a></p>
			</div>
			<p><a href="/service">ー 営業品目</a></p>
			<p><a href="/service">ー 社会貢献</a></p>
		</div>
	</div>
	<div class="footer_img_box">
		<%= image_tag 'dog.png', class: "maru_img"%>
		<%= image_tag 'dog2.png', class: "maru_img"%>
	</div>
</div>