<div class="footer">
	<p class="footer_company_name"><a href="/">株式会社安西商会</a></p>
	<div class="footer_link_list">
		<p><a href="/about">ー 会社案内</a></p>
		<div>
			<p><a href="/about#profile">会社概要</a></p>
			<p><a href="/about#history">沿革</a></p>
		</div>
		<p><a href="/service">ー 営業品目</a></p>
	</div>
</div>