<div class="header">
	<h1 class="company_name">
		<%= image_tag 'icon.png', class: "top_icon"%>
		<a href="/">
			<span class="kabushikigaisha">株式会社</span>
			<span class="anzaishoukai">安西商会</span>
		</a>
	</h1>
	<div class="menu">
		<div class="hamburger_menu_icon">
			<div id="openbtn5" class="openbtn5"><span></span><span>Menu</span><span></span></div>
		</div>
	</div>
	<div id="menu_list" class="menu_list close_menu">
		<div>
			<a href="/">
				<p>トップ</p>
				<p>TOP</p>
			</a>
		</div>
		<div>
			<a href="/about">
				<p>会社案内</p>
				<p>ABOUT US</p>
			</a>
		</div>
		<div>
			<a href="/service">
				<p>営業品目</p>
				<p>SERVICE</p>
			</a>
		</div>
	</div>
</div>