<h1>安西商会</h1>
<h3>信頼と情報で豊かな農業の実現に貢献します</h3>
<div>
（株）安西商会は、半世紀にわたり農業資材全般、有機肥料を主体に取り扱って参りました。この間、日本の農業は増産第一主義から過剰生産へと至り、減反問題や残留農薬問題など時代の波に翻弄され続けて来たといっても過言ではないでしょう。<br>
さまざまな問題に直面するたびに私どもが自問自答し、企業理念として守り通してきた事は「農作物とそれを食する消費者とを信頼で結べる様に、確かで完全な資材を提供する」という一点です。<br>
量産から高品質へ。今や求められるものは大きく変化しています。安全で安心、しかも作物の力を十分に持った真の農作物が強く求められています。そうした時代の要請に応えるため、私どもでは土壌分析を行い、土作りから始める農業のお手伝いを始めています。<br>
農業の重要性を再認識し、豊かな農業の実現に向けて共に成長していく喜びを望むのもです。
</div>

<div>
<h2>会社概要</h2>
	<table>
		<tbody>
		<% @profile_list.each do |list, text| %>
			<tr>
				<td><%= list.html_safe %></td>
				<td><%= text.html_safe %></td>
			</tr>
		<% end %>
		</tbody>
	</table>
</div>
