<div>
	<div class="about">
		<div id="profile" class="outline">
			<h2>会社概要</h2>
			<p>PROFILE</p>
			<hr>
			<%= render partial: "profile_table" %>
			<%= render partial: "profile_table_sp" %>
		</div>
		<div id="history" class="enkaku">
			<h2>沿革</h2>
			<p>HISTORY</p>
			<hr>
			<div class="timeline">
				<ul class="timeline-list">
					<% @histories.each do |year, text| %>
						<li class="timeline-list-item">
							<div class="date"><%= year.html_safe %></div>
							<div class="content"><%= text.html_safe %></div>
						</li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
</div>