// Place all the styles related to the abouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.about {
	margin: 0 auto;
	width: 70%;
}
.about > div > h2 {
	text-align: center;
	color: #88b763;
	margin-bottom: 0;
}
.about > div > p {
	text-align: center;
	color: #b2b2b2;
	margin: 0;
	font-size: 75%;
}
.about > div > hr {
	width: 110px;
	height: 1px;
	background-color: #88b763;

}
table {
	margin: 50px auto 100px auto;
	border-collapse: collapse;
}
td {
	border-bottom: 1px solid rgba(136,183,99,0.3);
}
.about_address_td {
	display: flex;
	margin: 10px 0;
}
.about_address_td_office {
	width: 100px;
}
.about_list {
	width: 140px;
	text-align: center;
	color: #b2b2b2;
}
.about_text {
	padding: 20px 0;
}
.timeline {
	width: 96%;
	max-width: 940px;
	margin: 28px auto;
	&-list {
		padding: 40px 0;
		&-item {
			display: flex;
			line-height: 1.5;
			font-size: 16px;
			.date {
				width: 20%;
				padding: 0 0 0 20px;
				color: #888888;
				font-weight: bold;
			}
			.content {
				position: relative;
				width: 80%;
				padding: 0 20px 60px 30px;
				border-left: 1px solid #aaaaaa;
				&::before {
					content: "";
					position: absolute;
					top: 0;
					left: -10px;
					width: 20px;
					height: 20px;
					background-color: #88b763;
					border-radius: 10px;
				}
			}
		}
		&-item:last-of-type {
			.content {
				border-left: none;
			}
		}
	}
} 
.about_box_sp {
	border-bottom: 1px solid #000;

}
@media (max-width: 500px) {
	.about {
		font-size: 80%;
	}
	.profile_table {
		display: none;
	}
	.profile_table_sp {
		display: block;
	}
}

