/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
	margin: 0px;
}
.main {
  padding-top: 150px;
}
.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 2px solid #e0e0e0;
  background-color: #fff;
  box-shadow: 0px 8px 5px -5px rgba(225,225,225,225.5);
  z-index: 100;
}
.header > h1 {
  margin-left: 10px;
}
.top_icon {
	zoom: 33%;
}
.company_name > a {
  text-decoration: none;
  color: #88b763;
	font-weight: bold;
}
.kabushikigaisha {
  font-size: 70%;
}
@media (max-width: 700px) {
  .header {
    height: 88px;
  }
  .header > h1 {
    float: left;
    margin-right: 121px;
  }
}
@media (max-width: 500px) {
  .header {
    height: 52px;
  }
  .top_icon {
    zoom: 23%;
  }
  .header > h1 {
    font-size: 155%;
    margin: 10px 70px 16px 0;
  }
  .main {
    padding-top: 80px;
  }
}
@media (max-width: 400px) {
  .header > h1 {
    font-size: 125%;
  }
}
/**************************
  ヘッダーメニュー項目
**************************/
.menu_list {
  margin: 0 30px 0 0;
  display: flex;
}
.menu_list > div {
  width: 120px;
  text-align: center;
}
.menu_list > div > a {
  padding: 0 15px;
  color: #757575;
  text-decoration: none;
}
.menu_list > div > a > p {
  margin: 0;
}
.menu_list > div > a > p:nth-of-type(1) {
	font-weight: bold;
}
.menu_list > div > a > p:nth-of-type(2) {
  margin-top: 2px;
  font-size: 70%;
  color: #c8c8c8;
}
@media (max-width: 700px) {
  .header {
    display: block;
  }
  .menu {
    float: right;
  }
  .menu_list > div {
    width: 170px;
    margin: 0 auto;
  }
  .menu_list_open {
    display: block;
    background-color: #fff;
    height: 100vh;
    margin: 0;
    float: right;
    width: 300px;
    padding: 30px 0 0 0;
    animation: open-menu 0.3s forwards;
  }
  .close_menu{
    /* animation: close-menu 1.3s forwards; */
    display: none;
  }
  @keyframes open-menu {
    0% {
      transform: translateX(200px);
    }
    100% {
      transform: translateX(0px);
    }
  }
  @keyframes close-menu {
    0% {
      opacity: 1;
      transform: translateX(0px);
    }
    100% {
      opacity: 0;
      transform: translateX(200px);
    }
  }
}
@media (max-width: 700px) {
  .menu_list_open {
    width: 200px;
  }
}
/**************************
  ハンバーガーメニューボタン
**************************/
.hamburger_menu_icon {
  display: none;
}
 /*ボタン外側※レイアウトによってpositionや形状は適宜変更してください*/
.openbtn5{
  position: relative;/*ボタン内側の基点となるためrelativeを指定*/
  background:#88b763;
  cursor: pointer;
  width: 50px;
  height:50px;
  border-radius: 5px;
}
/*ボタン内側*/
.openbtn5 span{
  display: inline-block;
  transition: all .4s;/*アニメーションの設定*/
  position: absolute;
}
.openbtn5 span:nth-of-type(1),
.openbtn5 span:nth-of-type(3) {
  height: 2px;
  background: #fff;
  width: 62%;
  left: 10px;
}
.openbtn5 span:nth-of-type(1) {
  top:13px; 
}
.openbtn5 span:nth-of-type(2) {
  top:19px;
  left:10px;
  font-size:0.6rem;
  text-transform: uppercase;
  color: #fff;
}
.openbtn5 span:nth-of-type(3) {
  top:36px;
}
/*activeクラスが付与されると線が回転して×になり、Menu表記をしている2つ目の要素が透過して消える*/
.openbtn5.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}
.openbtn5.active span:nth-of-type(2) {
  opacity: 0;
}
.openbtn5.active span:nth-of-type(3){
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}
@media (max-width: 700px) {
  .hamburger_menu_icon {
    display: block;
    margin: 20px;
  }
}
@media (max-width: 500px) {
  .hamburger_menu_icon {
    margin: 5px 8px 0 0;
    float: right;
  }
  .openbtn5{
    width: 43px;
    height:43px;
  }
  .openbtn5 span:nth-of-type(1),
  .openbtn5 span:nth-of-type(3) {
    width: 53%;
    top:34px;
  }
  .openbtn5 span:nth-of-type(1) {
    top:9px; 
  }
  .openbtn5 span:nth-of-type(2) {
    top:15px;
    left:7px;
  }
  .openbtn5.active span:nth-of-type(1) {
    top: 16px;
    left: 16px;
  }
  .openbtn5.active span:nth-of-type(3){
    top: 28px;
    left: 16px;
  }

}
/**************************
  フッター
**************************/

.footer {
  display: flex;
  background-color: #88b763;
  text-align: left;
  color: #fff; 
  padding: 33px 0 80px 20px;
  justify-content: space-between;
}
.footer_left {
  width: 50%;
}
.footer a{
  text-decoration: none;
  color: #fff
}
.footer_company_name {
  font-size: 130%;
  font-weight: bold;
}
.footer_link_list {
  margin-left: 30px;
}
.footer_link_list > div{
  margin-left: 40px;
}
.footer_link_list p {
  margin: 0 0 5px 0;
}
.footer_img_box {
  width: 50%;
  margin: 30px auto;
  text-align: center;
}
.maru_img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 5%;
}
@media (max-width: 500px) {
  .footer {
    font-size: 80%;
    padding: 20px 0 80px 30px;
  }
  .maru_img {
    width: 80px;
    height: 80px;
    float: left;
    margin: 0 15%;
  }
}